.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-intro {
    font-size: large;
}

#sidebarMenu {
    background-color: #778da9;
    color: #1b263b;
}

#navbar {
    background-color: #415a77;
}

svg {
    margin-right: 15px;
}

.nav-item {
    display: flex;
    align-items: flex-start;
    padding-bottom: 10px;
    padding-left: 10px;
}
