.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-intro {
    font-size: large;
}

#sidebarMenu a {
    color: #1b263b;
}

#navbar {
    background-color: #415a77;
}

svg {
    margin-right: 15px;
}

.nav-item {
    display: flex;
    align-items: flex-start;
    padding-bottom: 10px;
    padding-left: 10px;
}

#card-footer-right {
    float: right;
}

.btnSendStar {
    background-color: #778da9;
    color: white;
    border-radius: 4px;
    border: none;
    padding: 7px 20px;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    background-color: #778da9;
    color: white;
    border-radius: 4px;
    border: none;
    padding: 7px 30px;
}

.card {
    width: 700px;
}
